  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Availability Calender 
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
   
          <div class="m-btn sm green" id="available">Green</div><span>  Available</span> 
          <div class="m-btn sm red" id="unavailable">Red</div><span>  Unavailable</span> 
            
        
        <h5 id="available_days">Please choose your available days: </h5>
        <button class="m-btn red" id="sunday" data-day="Sunday" data-availability-id="">Sunday</button>
        <button type="button" class="m-btn red" id="monday" data-day="Monday" data-availability-id=""> Monday </button>
        <button type="button" class="m-btn red" id="tuesday" data-day="Tuesday" data-availability-id=""> Tuesday </button>
        <button type="button" class="m-btn red" id="wednesday" data-day="Wednesday" data-availability-id=""> Wednesday</button>
        <button type="button" class="m-btn red" id="thursday" data-day="Thursday" data-availability-id=""> Thursday</button>
        <button type="button" class="m-btn red" id="friday" data-day="Friday" data-availability-id=""> Friday</button>
        <button type="button" class="m-btn red" id="saturday" data-day="Saturday" data-availability-id=""> Saturday</button>
      </div> 
    </div>
  </div> 

  
      

