  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Availability Calender 
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <h5> Green(Available), Red(Inavailable)</h5>
        <div class="m-btn big"> Sunday </div>
        <div class="m-btn big"> Monday </div>
        <div class="m-btn big"> Tuesday </div>
        <div class="m-btn big"> Wednesday </div>
        <div class="m-btn big"> Thursday </div>
        <div class="m-btn big"> Friday </div>
        <div class="m-btn big"> Saturday </div>
      </div> 
    </div>
  </div> 

  
      

