<form class="form-inline" id="email_form" method="get" action="" data-attachment-file-id="">
  <div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="success_new_client_msg"></div>
  <div class="alert alert-danger alert-dismissible" hidden="true" role="alert" id="fail_new_client_msg"></div>
  <div class="form-group">
    <label for="client_email" class="document_email"> Recipient's email address:</label>
    <input type="text" class="client_email" name="client_email" id="new_client_email"> 
  </div>

 
 <button class="btn btn-primary" id="email_sent"><i class="fa fa-envelope-o"></i> Email</button>
          
  <span id="sending" hidden="true">
    <i class="fa fa-spinner fa-spin" style="font-size: 40px; color: gray;"></i>  
  </span>
 
  <span id="success_sent" hidden="true">
    <i class="fa fa-check-circle" style="font-size: 40px; color:green"></i>
  </span>  
</form>