<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h3 class="panel-title" id="upload_file_title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Email Documents</a>
    </h3>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
  <p> Please upload a file </p>
   <form id="file_upload_form" method="post" action="/attachments" nctype="multipart/form-data" data-attachment-id="">
    <!-- <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"> -->
    <input id="upload_file" type="file" name="file">
    Type of the attachment:
    <select id="selected_file">
      <option value="Resume">Resume</option>
      <option value="NOA">NOA</option>
      <option value="Drivers_License">Drivers License</option>
      <option value="other"> Other </option>
    </select>
    </br>
    Recipient's email address:<input type="text" id="client_email" name="client_email"> 
    Recipient's name: <input type="text" id="client_name" name="client_name">
    <button id="submit_button">Email</button> 
  </form> 



  </div>
</div>