<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h3 class="panel-title" id="upload_file_title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">Email Documents</a>
    </h3>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="alert alert-success alert-dismissible" hidden="true" role="alert" id="success_msg">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="existing_file" data-file-type="Resume"> 
      <span hidden="true">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">  
          <label class="file_info" data-file-id="">
            <i class="fa fa-file-pdf-o" style="font-size: 50px; color:black;"></i>
            </br>
            Resume
          </label>
        </a>
        <a href="" class="share_link"><i class="fa fa-paperclip" style="font-size: 20px; color: gray;"></i></a> 
      </span>  
    </div>

    
  
    <div class="existing_file" data-file-type="NOA">
      <span hidden="true">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">   
          <label for="file_pdf" class="file_info" data-file-id="">
            <i class="fa fa-file-pdf-o" id="file_pdf" style="font-size: 50px; color:black;"></i>
            </br> 
            NOA
          </label>
        </a>    
        <a href="" class="share_link"><i class="fa fa-paperclip" style="font-size: 20px; color: gray; margin-left: -15px;"></i></a>    
      </span>
    </div>
   
   
    <div class="existing_file" data-file-type="Drivers_License"> 
      <span hidden="true">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
        <label class="file_info" data-file-id="">
          <i class="fa fa-file-pdf-o" style="font-size: 50px; margin-left: 25px; color:black;"></i>
          </br>
          Driver's License
        </label>
        </a>
        <a href="" class="share_link"><i class="fa fa-paperclip" style="font-size: 20px; color: gray;"></i></a> 
      </span>
    </div>

    <div class="existing_file" data-file-type="other"> 
      <span hidden="true">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">  
        <label class="file_info" data-file-id="">
          <i class="fa fa-file-pdf-o" style="font-size: 50px;color:black;"></i>
          </br>
          Other
        </label>
        </a>
        <a href="" class="share_link"><i class="fa fa-paperclip" style="font-size: 20px; color: gray;"></i></a> 
      </span>  
    </div>
 
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <%= render 'emailForm' %>
    </div>

    

    </br>
    <a role="button" class="btn btn-primary" id="upload_new_documents_button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">Upload new documents</a>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <form id="file_upload_form" class="form-inline" method="post" action="/attachments" nctype="multipart/form-data" data-attachment-id="">

        <div class="form-group" class="file_upload">
          <label for="client_email" class="document_email"> Recipient's email address:</label>
          <input type="text" class="client_email" name="client_email" id="recipient_email"> 
        </div>

        <div class="form-group" class="file_upload">
          <label for="upload_file"  class="document_email"> File: </label> 
          <input id="upload_file" type="file" name="file">
        </div>

        <div class="form-group" class="file_upload">
        <label class="document_email">Type of the attachment: </label>  
          <select id="selected_file">
            <option value="Resume">Resume</option>
            <option value="NOA">NOA</option>
            <option value="Drivers_License">Drivers License</option>
            <option value="other"> Other </option>
          </select>
        </div>
          
        <button class="btn btn-primary" id="submit_button"><i class="fa fa-envelope-o"></i> Email</button>
        
        <span id="uploading" hidden="true">
          <i class="fa fa-spinner fa-spin" style="font-size: 40px; color: gray;"></i>  
        </span>
       
        <span id="success_upload" hidden="true">
          <i class="fa fa-check-circle" style="font-size: 40px; color:green"></i>
        </span>  
       
      </form> 
      
    </div>
  



  </div>


</div>