<div class="panel panel-default" >
  <div class="panel-heading">
    <h3> Personal Information </h3>
      
      <div class="field" id ="info" data-user-id="">
        <h5> Name:</h5>
        <div class="profile_input" data-profile-entry="name" id="name" contenteditable="true"></div>
        <span class="error" hidden="true" id="name-error" value= > *Name is not valid</span>
      </div>
      
      <div class="field">
        <h5> Phone:</h5>
        <div class="profile_input" data-profile-entry="phone" id="phone" contenteditable="true"></div>
        <span class="error" hidden="true"  value= > *Phone number is not valid</span>

      </div>

      <div class="field">
        <h5> Email: </h5>
          <div class="profile_input" data-profile-entry="email" id="email" contenteditable="true"></div>
          <span class="error" hidden="true" id="email-error" value= > *Email address is not valid</span>

      </div>


        <div class ="field">
          <h5> Mailing Address: </h5>
          <div class="profile_input" id="mailing_address" contenteditable="true">
          <span class="error" hidden="true" id="mailing-address-error" value= > *Mailing address is not valid</span>
        </div>
        
        <div class ="field">
          <h5> Billing Address: </h5>
          <div class="profile_input" id="billing_address" contenteditable="true">
        </div>
        
        <div class ="field">
          <h5> Shipping Address: </h5>
          <div class="profile_input" id="shipping_address" contenteditable="true">
        </div>

        <div class="field">
          <p> Do you have a traffic control? </p>
            <input type="radio"> Yes 
            <input type="radio">  No 
        </div>
        
        <div class= "field">
          <p>Do you have a vehicle? </p>  
            <input type="radio"> Yes 
            <input type="radio">  No     
        </div>        
        <h4 class="panel-title">
          Upload Your Profile Picture
        </h4>
        <div class="panel-body">
             
        </div>

        <div class="field">
          <input type ="text", name="password">
        </div>

        <div class="field">
          
        </div>
    </div>
  </div>     




