 
  
      <h3>Departments </h3>
        <div class="row">
          <div class ="col-md-1">
            <div>
              DGC
            </div>
          </div>

          <div class ="col-md-1">
            <div>
              
            </div>
          </div>
        </div>


