<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" data-eligibility-id="" id="deparments_header">
          Departments
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="list-group">
        <div class="list-group-item">
          <a role="button" id="DGC" data-union-id="" data-toggle="collapse" href="#roleOne" aria-expanded="false">
            DGC
          </a>
        </div>
        <div id="roleOne" class="collapse">
          <div id="unionStatus">
            <input type="checkbox" id="dgc_permit" data-name="permit" value= /> 
            <label for="dgc_permit"> Permit </label>
              <span hidden="true" id="dgc_number_days"> * Number of Days:
                <div contenteditable="true" hidden="true" id="permit_days"></div>
              </span>
            <input type="checkbox" id="dgc_member" data-name="member" value="true" /> 
            <label for="dgc_member"> Member </label>
            
   
          </div>
          
            <label>
              <input type="checkbox" id="DGC_PA" name="DGC_PA" value="Producer’s Assistant"/>
              <span class="label-text">
              PA
              </span>
            </label>
             
          
            <label>
              <input type="checkbox" name="DGC_Key_PA" value="Key PA" /> Key PA
            </label>
            
          
            <label>
              <input type="checkbox" name="DGC_On_Set_Key" value=/> On Set Key
            </label>
            <br>
           
            <label>
            <input type="checkbox" name="DGC_OPA" value="Office Production Assistant (OPA)" /> Office PA
            </label>
            

            <label>
            <input type="checkbox" name="DGC_Transport" value="Transport"/> Van Driver
            </label>
            

            <label>
            <input type="checkbox" name="DGC_TAL" value="Trainee Assistant Location Manager (TAL)" /> TAL
            </label>
            <br>
            
            <label>
              <input type="checkbox" name="DGC_ALM" value="Assistant Location Manager (ALM)"/> ALM
            </label>
            
            
            <label>
              <input type="checkbox" name="DGC_LM" value="Location Manager (LM)"/> LM
            </label>
            

            <label>
              <input type="checkbox" name="DGC_TAD" value="Trainee Assistant Director (TAD)"/> TAD
            </label>
            <br>

            <label>
              <input type="checkbox" name="DGC_3RD_AD" value="3rd Assistant Director (3rd AD)"/> 3RD AD
            </label>
            
            <label>
            <input type="checkbox" name="DGC_2ND_AD" value="2nd Assistant Director (2nd AD)"/> 2ND AD
            </label>
            
            <label>
            <input type="checkbox" name="DGC_1ST_AD" value="1st Assistant Director (1st AD)"/> 1ST AD
            </label>
   
        </div>
        
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#roleTwo" aria-expanded="false">
          IATSE
          </a>
        </div>
        <div id="roleTwo" class="collapse">
          <div>            
            <input type="radio" name="member" value="true" /> Member
            <input type="radio" name= value= /> Permit
          </div>
            <input type="checkbox" name="" value="Accountant"/> Accounting 
            <input type="checkbox" name="" value="Art / Production Design"/> Art
            <input type="checkbox" name="" value="Construction" /> Construction
            <br>
            <input type="checkbox" name="" value="Costumes" /> Costume
            <input type="checkbox" name="" value="Editors"/> Editing
            <input type="checkbox" name="" value="First Aid / Craft Services (FACS)" /> First Aid/Craft Service
            <br>
            <input type="checkbox" name="" value="Greens"/> Greens
            <input type="checkbox" name="" value="Grips"/> Grips
            <input type="checkbox" name="" value="Hair" /> Hair
            <br>
            <input type="checkbox" name="" value="Lighting / Electrics (LX)"/> Lighting/Electrics
            <input type="checkbox" name="" value="Make Up"/> Make-up
            <input type="checkbox" name="" value="Paint" /> Painting
            <br>
            <input type="checkbox" name="" value="" /> Production
            <input type="checkbox" name="" value="" /> Office 
            <input type="checkbox" name="" value="Properties (Props)" /> Props
            <br>
            <input type="checkbox" name="" value="Script Supervisors/Continuity Coordinator" /> Script Supervisors/ Continuity Coordinator 
            <input type="checkbox" name="" value="Set Dec" /> Set Decorating 
            <input type="checkbox" name="" value="Sound" /> Sound
            <br>
            <input type="checkbox" name="" value="Special Effects (SPFX)" /> Special Effects
            <input type="checkbox" name="" value="Visual Effects" /> Visual Effects 
        </div>
          
        
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#roleThree" aria-expanded="false">
            ACFC
          </a> 
        </div>
        <div id="roleThree" class="collapse">
          <input type="checkbox" name="" value="Accountant" />Accountant
          <input type="checkbox" name="" value="Art / Production Design" /> Art
          <input type="checkbox" name="" value= /> Catering
          <input type="checkbox" name="" value="Construction" /> Construction
          <input type="checkbox" name="" value="Costumes" /> Costume
          <input type="checkbox" name="" value= "Script Supervisors/Continuity Coordinator"/> Continuity
          <input type="checkbox" name="" value="First Aid / Craft Services (FACS)" /> Craft Service 
          <input type="checkbox" name="" value="Editors"/> Editing
          <input type="checkbox" name="" value="Lighting / Electrics (LX)"/> Electrics
          <input type="checkbox" name="" value="Greens"/> Greens
          <input type="checkbox" name="" value="Grips"/> Grips
          <input type="checkbox" name="" value="Hair"/> Hair
          <input type="checkbox" name="" value="Make Up"/> Make-up
          <input type="checkbox" name="" value= /> Production
          <input type="checkbox" name="" value= /> Office
          <input type="checkbox" name="" value= "Properties (Props)" /> Props
          <input type="checkbox" name="" value=/> Prop Building
          <input type="checkbox" name="" value= /> Publicity
          <input type="checkbox" name="" value= /> Scenic Art
          <input type="checkbox" name="" value= /> Security
          <input type="checkbox" name="" value="Set Dec"/> Set Decorating 
          <input type="checkbox" name="" value="Sound" /> Sound
          <input type="checkbox" name="" value="Special Effects (SPFX)" /> Special Effects
          <input type="checkbox" name="" value="Transport"/> Transportation
          <input type="checkbox" name="" value= /> Wranglers
          <input type="checkbox" name="" value= /> Animals
        </div>
      
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#rolefour" aria-expanded="false">
            TEAMSTERS
          </a>
        </div>
        <div id="rolefour" class="collapse">
          <input type="checkbox" name="TEAMSTERS_Security" value= /> Security
          <input type="checkbox" name="TEAMSTERS_Transport" value="Transport" /> Transport
        </div>
        
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#rolefive" aria-expanded="false">
          UBCP
          </a>
        </div>
        <div id="rolefive" class="collapse">
          <input type="checkbox" name="UBCP_Actor" value= /> Actor
          <input type="checkbox" name="UBCP_Stand_in" value= /> Stand in
          <input type="checkbox" name="UBCP_Extra" value= /> Extra
        </div>

        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#rolesix" aria-expanded="false">
          ACTRA
          </a>
        </div>
        <div id="rolesix" class="collapse">
          <input type="checkbox" name="" value= /> Actor
          <input type="checkbox" name="" value= /> Stand in
          <input type="checkbox" name="" value= /> Extra
        </div>
         
        <div class="list-group-item">
          <a role="button" data-toggle="collapse" href="#roleseven" aria-expanded="false">
              NON UNION
          </a>
        </div>
        <div id="roleseven" class="collapse">
          <input type="checkbox" name="NU_PA" value="Producer’s Assistant"/> PA
          <input type="checkbox" name="NU_Key_PA" value="Key PA"/> Key PA
          <input type="checkbox" name="NU_On_Set_Key" value=/> On Set Key
          <input type="checkbox" name="NU_OPA" value="Office Production Assistant (OPA)" /> Office PA
          <input type="checkbox" name="NU_Transport" value= "Transport"/> Van Driver
          <input type="checkbox" name="NU_TAL" value="Trainee Assistant Location Manager (TAL)" /> TAL
          <input type="checkbox" name="NU_ALM" value="Assistant Location Manager (ALM)" /> ALM
          <input type="checkbox" name="NU_LM" value="Location Manager (LM)"/> LM
          <input type="checkbox" name="NU_TAD" value="Trainee Assistant Director (TAD)"/> TAD
          <input type="checkbox" name="NU_3RD_AD" value="3rd Assistant Director (3rd AD)"/> 3RD AD
          <input type="checkbox" name="NU_2ND_AD" value="2nd Assistant Director (2nd AD)"/> 2ND AD
          <input type="checkbox" name="NU_1ST_AD" value="1st Assistant Director (1st AD)"/> 1ST AD
        </div>
          
          
      
      </div>
    </div>
  </div> 
</div>
  
      


