<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Departments
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class ="col-md-1">
            <div>
              <a role="button" data-toggle="collapse" href="#roleOne" aria-expanded="false">
                DGC
              </a>
            </div>
            <div id="roleOne" class="collapse">
              <p>1 </p>
              <p> 2 </p>
            </div>
          </div>
            
          <div class ="col-md-1">
            <div>
              IATSE
            </div>
          </div>
             
          <div class ="col-md-1">
            <div>
              ACFC
            </div>
          </div>

          <div class ="col-md-2">
            <div>
              TEAMSTERS
            </div>
          </div>
         
          <div class ="col-md-1">
            <div>
              UBCP
            </div>
          </div>
          
          <div class ="col-md-1">
            <div>
              ACTRA
            </div>
          </div>

          <div class ="col-md-1">
            <div>
              NON UNION
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div> 
</div>
  
      


