<div class="page-header">
  <h1>Create profile</h1>
</div>
  <div class = "row">
    <div class="col-md-3">
      <%= render 'personalinfo' %>
    </div>
    <div class= "col-md-9">
      <%= render 'union' %>
      <%= render 'availability' %>
      <%= render 'certificates' %>
    </div>
  </div>
