<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editJob" aria-expanded="false" aria-controls="editJob"><span class="caret rotated"></span> Jobs</a>
    </h3>
  </div>

  <div id="editJob" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="editJob">
    <p> hello world </p>
  </div>