<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editSponsors" aria-expanded="false" aria-controls="editSponsors"><span class="caret rotated"></span> Sponsors</a>
    </h3>
  </div>

  <div id="editSponsors" class="panel panel-collapse collapse" role="tabpanel" aria-labelledby="editSponsors">
    <div class="field">
      <form action="/admin/sponsors" method="post">        
        <h5>Upload Your Sponsor's Image:
          <input type="file" id="upload_sponsor_picture" >
          <input type="hidden" name="image_cache">
        </h5>
        <label for="sponsor_website"> Enter Your Sponsor's Website: </label>
        <input type="text" id="sponsor_webiste"></input>       
      </form>
      <button type="submit" class="btn btn-primary" data-dismiss="" id="add_sponsor">Submit</button>
    </div>
  </div> 
</div>