<div class="page-header">
  <h1>Admin</h1>
</div>
  <div class = "row">
    <div class="col-md-4">
    Add Union

      <h5> Name:</h5>
      <div class="profile_input" data-profile-entry="union-name" id="union-name" contenteditable="true"></div>
      <span class="error" hidden="true" id="union-name-error"> *Name is not valid</span>

    Edit/Delete Union


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#editUnion" aria-expanded="false" aria-controls="editUnion">Edit/Delete Union</a>
    </h3>
  </div>
  <div id="editUnion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editUnion">
    <div> Please select certificates that you have: </div>
      <select id="edit-union" name="union">
        <%@unions.each do |union| %>
          <option value="<%= %>" data-certifiable-id="">
            <%= union.name %>
          </option>
        <% end %>
      </select>
    </div>
</div>






      <!--put dropdown of union names here -->
      <!--pulls down union's accordion?, where we can add roles? -->
      <!--and add certificates? -->

    </div>
    <div class= "col-md-4">    
    Add Role

      <h5> Name:</h5>
      <div class="profile_input" data-profile-entry="role-name" id="role-name" contenteditable="true"></div>
      <span class="error" hidden="true" id="role-name-error"> *Name is not valid</span>

    Edit/Delete Role
 
    </div>
    <div class= "col-md-4">    
    Add Certificate

      <h5> Name:</h5>
      <div class="profile_input" data-profile-entry="certificate-name" id="certificate-name" contenteditable="true"></div>
      <span class="error" hidden="true" id="certificate-name-error"> *Name is not valid</span>

    Edit/Delete Certificate
    </div>
  </div>
