<h3>Availability</h3>
<table class="calendar">
  <thead>
    <tr>
      <% Date::ABBR_DAYNAMES.each do |name| %>
        <th>
          <div class="day">
            <%= name%>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%@calendar.weeks.each do |week| %>
      <tr>
        <% week.each do |day| %>
           <% d= Date.parse(day.date.to_s) %>
           
          <td class="available"><%=d.mday %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= month_calendar  do |day| %>
  
  <%=Date.parse(day.to_s).mday%>

<% end %>