<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="avail-collapse-toggle">
        Availability Calendar
      </a>
    </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">

      <div class="btn btn-success btn-sm" id="available">Available</div>
      <div class="btn btn-danger btn-sm" id="unavailable">Unavailable</div>

      <h5 id="available_days">Please choose your available days for the week of:
      <div class="input-group" id="DateDemo" >
        <p hidden> <%= day1 = Time.zone.now.to_date.to_date.beginning_of_week.to_s %></p>
        <p hidden> <%= day7 = Time.zone.now.to_date.to_date.end_of_week.to_s %></p>
        <input type='text' id='weeklyDatePicker' value="<%= day1+" - "+day7 %>"/>
      </div>
      </h5>
        <span id="day">
          <button type="button" class="calendar-day btn btn-danger btn-sm" id="sunday" data-day="Sunday" data-date="" data-availability-id="">Sunday</button>
          <button type="button"  class="calendar-day btn btn-danger btn-sm" id="monday" data-day="Monday" data-date="" data-availability-id="">Monday</button>
          <button type="button"  class="calendar-day btn btn-danger btn-sm"  id="tuesday" data-day="Tuesday" data-date="" data-availability-id="">Tuesday</button>
          <button type="button"  class="calendar-day btn btn-danger btn-sm" id="wednesday" data-day="Wednesday" data-date="" data-availability-id="">Wednesday</button>
          <button type="button" class="calendar-day btn btn-danger btn-sm" id="thursday" data-day="Thursday" data-date="" data-availability-id="">Thursday</button>
          <button type="button"  class="calendar-day btn btn-danger btn-sm" id="friday" data-day="Friday" data-date="" data-availability-id="">Friday</button>
          <button type="button"  class="calendar-day btn btn-danger btn-sm" id="saturday" data-day="Saturday" data-date="" data-availability-id="">Saturday</button>
        </span>
    </div>
  </div>


</div>
