<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Availability Calendar 
      </a>
    </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      
      <div class="btn btn-success btn-sm" id="available">Green</div><span>  Available</span> 
      <div class="btn btn-danger btn-sm" id="unavailable">Red</div><span>  Unavailable</span>
      <div class="input-group" id="DateDemo">
        Select Week:  <input type='text' id='weeklyDatePicker' placeholder="Select Week"/>
      </div> 
      <div id="date_range"></div>
        
      <h5 id="available_days">Please choose your available days: </h5>
        <span id="day">
          <button type="button" class="btn btn-danger" id="sunday" data-day="Sunday" data-date="" data-availability-id="">Sunday</button>
          <button type="button"  class="btn btn-danger" id="monday" data-day="Monday" data-date="" data-availability-id=""> Monday </button>
          <button type="button"  class="btn btn-danger"  id="tuesday" data-day="Tuesday" data-date="" data-availability-id=""> Tuesday </button>
          <button type="button"  class="btn btn-danger" id="wednesday" data-day="Wednesday" data-date="" data-availability-id=""> Wednesday</button>
          <button type="button" class="btn btn-danger" id="thursday" data-day="Thursday" data-date="" data-availability-id=""> Thursday</button>
          <button type="button"  class="btn btn-danger" id="friday" data-day="Friday" data-date="" data-availability-id=""> Friday</button>
          <button type="button"  class="btn btn-danger" id="saturday" data-day="Saturday" data-date="" data-availability-id=""> Saturday</button>
        </span>
    </div> 
  </div>

  
</div> 
