<h3> Notification Setting: </h3>
  <div>
    <div class="union_font">

      <% if @user.notify_when_job_posted == "never" %>
        <i class="fa fa-exclamation-circle" style="font-size:16px;"></i>
        Never notify me when a new job is posted
      <% elsif @user.notify_when_job_posted == "always" %>
        <i class="fa fa-telegram" style="font-size:16px;"></i>
        Always email me when any new job is posted
      <% else %>
        <i class="fa fa-telegram" style="font-size:16px; -webkit-text-fill-width: 1px; -webkit-text-fill-color: #888888;"></i>
        Only email me when new jobs matching my roles are posted
      <% end %>
    </div>
  </div>
