<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingZero">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseZero" class="avail-collapse-toggle">
        Availability Calendar
      </a>
    </h3>
  </div>

  <div id="collapseZero" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
    <div> Please select your notification preferences: </div>
    <form action="">
      <input type="radio" name="notification" value="never">Never notify me when a job is posted<br>
      <input type="radio" name="notification" value="always">Email me when any job is posted<br>
      <input type="radio" name="notification" value="roles">Email me when jobs for my selected departments are posted
    </form>
  </div>
</div>