<div class="panel panel-default notification-panel">
  <div class="panel-heading" role="tab" id="headingZero">
    <h3 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseZero" class="avail-collapse-toggle">
        Notification Settings for Job Postings
      </a>
    </h3>
  </div>

  <div id="collapseZero" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingZero">
    <div> Please select your notification preferences: </div>
    <form id="notification_form" data-user-id="<%=@user.id %>" action="">
      <input type="radio" class="profile_input" data-profile-entry="notify_never" id="notify_never" class="notification_options" name="notification" value="never"
      <% if @user.notify_when_job_posted == "never" %>
        checked="checked"
      <% end %>
      >Never notify me when a new job is posted<br>
      <input type="radio" class="profile_input" data-profile-entry="notify_always" id="notify_always" class="notification_options" name="notification" value="always"
      <% if @user.notify_when_job_posted == "always" %>
        checked="checked"
      <% end %>
      >Email me when any new job is posted<br>
      <input type="radio" class="profile_input" data-profile-entry="notify_selected_roles" id="notify_selected_roles" class="notification_options" name="notification" value="selected_roles"
      <% if @user.notify_when_job_posted == "selected_roles" %>
        checked="checked"
      <% end %>
      >Email me when new jobs matching my selected departments are posted
    </form>
  </div>
</div>