<div class="field">
    <%= image_tag @user.image.url %>
</div>

<% if @user.has_vehicle? %>
  <div class="info_font">
   <i class="fa fa-check" style="color:green;"></i>
    <%= "Has a vehicle " %>
   </div>
<%end%>

<% if @user.has_traffic_control_ticket? %>
  <div class="info_font">
    <i class="fa fa-check" style="color:green;"></i>
    <%= ' Has a Traffic Control Ticket' %>
  </div>
<% end %>

<%=  render "calendar"  %>
  