<div class="field"> 
  <span id="display_image"><%=image_tag(@user.image.url) %> </span> 
</div> 

<% if @user.has_vehicle? %>
  <div class="info_font">
    <i class="fa fa-check" style="color:green;"></i>
    <%= "Has a vehicle " %>  
    <% if @user.has_traffic_control_ticket? %>
      <i class="fa fa-check" style="color:green; margin-left: 20px;"></i>
      <%= ' Has a Traffic Control Ticket' %>
    <% end %>
   </div>
<%end%>



<%=  render "calendar"  %>
  