<script id="user_card_template" type="text/x-handlebars-template"> 
  <div class="user-card col-md-4" data-user-id = "" data-order="" >
    <div class="instagram-content">          
      <div class="row photos-wrap">
       <!--Instafeed target div -->
        
          <div id="instafeed"></div>
            <!--The following HTML will be our template inside instafeed -->                    
              <div class="photo-box">
                <div class="image-wrap">
                  <!--user image -->
                  <img src= {{image}}>     
                </div>
                <div class="description">
                  <span class="username">{{{name}}}</span>                          
                  {{{hasVehicle vehicle}}}
                  {{{isAvailableToday availability}}}
                     
                  <br/>
                  <span>{{unionStatus union_member union_permit}}</span>       
                  <!--<span> Availiblity: {{availability}}</span>-->                    
                  <div><i class="fa fa-phone" aria-hidden="true" style="font-size: 14px;"></i>:
                    {{{phone}}}
                  </div>

                                
                </div>
                  <button id="send_text" class="btn btn-primary" data-toggle="modal" data-target="#text_message_modal">Send a text</button>
                  <div class="modal fade" id="text_message_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="exampleModalLabel">New message to {{name}}</h4>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <span id="recipient" hidden="true">{{phone}}</span>
                              <label for="message-text" class="control-label">Message:</label>
                              <textarea class="form-control" id="message-text" maxlength="160" >
                                <%= current_user.name%> from Crewcall: 
                              </textarea>
                              <div id="character_counter"></div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                      </div>
                    </div>
                  </div>
              



                <div>
                  <!-- path to view profile --> 
                  <a href= {{path}} class="btn" id="view_profile_btn"><i class="fa fa-user" aria-hidden="true"></i> View Profile</a>
                </div> 
              </div>
        
        
      </div>
    </div>
  </div>

</script>