<script id="user_card_template" type="text/x-handlebars-template"> 
  <div class="user-card col-md-4" data-user-id = "" data-order="" >
    <div class="instagram-content">          
      <div class="row photos-wrap">
       <!--Instafeed target div -->
        
          <div id="instafeed"></div>
            <!--The following HTML will be our template inside instafeed -->                    
              <div class="photo-box">
                <div class="image-wrap">
                  <!--user image -->
                  <img src= {{image}}>     
                </div>
                <div class="description">
                  <span class="username">{{{name}}}</span>                          
                  {{{hasVehicle vehicle}}}
                  {{{isAvailableToday availability}}}
                     
                  <br/>
                  <span>{{unionStatus union_member union_permit}}</span>       
                  <!--<span> Availiblity: {{availability}}</span>-->                    
                  <div><i class="fa fa-phone" aria-hidden="true" style="font-size: 14px;"></i>:
                    {{{phone}}}
                  </div>

                

                
                </div>

                
                      
                <div>
                  <!-- path to view profile --> 
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <a href= {{path}}> View Profile</a>
                </div> 
              </div>
        
        
      </div>
    </div>
  </div>

</script>