<div class="page-header">
  <h1>Edit profile</h1>
</div>
  <div class = "row">
    <div class="col-md-3">
      <%= render "editpersonalinfo" %>
    </div>
    <div class= "col-md-9">
      <%= render "editunion" %>
      <%= render "editcalendar" %>
      
    </div>
  </div>
