/ .page-header
/   %h1 Change password

/ = simple_form_for resource, url: user_password_path, html: { method: :put } do |f|
/   = f.input :reset_password_token, as: :hidden
/   = f.input :password, label: 'New password', input_html: { autocomplete: 'off' }
/   = f.input :password_confirmation, label: 'Confirm new password', input_html: { autocomplete: 'off' }
/   %p
/     = f.button :submit, 'Change password', class: 'btn btn-lg btn-block btn-success'
