<script>
  $(function(){
    $('.bxslider').bxSlider();
  });
</script>
<p>Sponsor: </p><%= image_tag 'gak_shak.JPG', class: 'sponsor-image' %>

<% if Sponsor.all.length > 0 %>
  <p> Sponsors: </p>
    <ul class="bxslider">
      <% for sponsor in Sponsor.all do %>
        <li class="sponsor_landingpage_image"><a href="http://<%=sponsor.website_url%>">
          <%=image_tag sponsor.picture.url %>
          </a></li>
      <% end %>
    </ul>
<% end %>
