<script>
  $(function(){
    $('.bxslider').bxSlider();
  });
</script>
<%= image_tag 'logo.png', class: 'logo' %>

<p> Sponsors: </p> 
  <ul class="bxslider">
    <% for sponsor in Sponsor.all do %>
      <li><a href="http://<%=sponsor.website_url%>"><%=image_tag sponsor.picture_url(:thumb)%></a></li>
    <% end %>
  </ul>
 
