<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=567841690054462";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1450830924936071";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--
<div class="fb-page" page-type="group" data-href="https://www.facebook.com/924510794336593/feed" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-token="EAACEdEose0cBANu5ZALdC55PCZCfZCkwtD7RBevveDZCwCWNZBy5NHAOF230CJUJNHFJvbOspp29A2287xH5f3tur0InBZCPBa7PgoxTwBWHIXEIi6CLVedAuWLp87IMQjT5EDWJfTEFIBrBrwVrftOO6FDHYMCk2VlPndj6JM6hSV2163WwPZCQwvHmcTAFe8ZD"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/924510794336593/feed"><a href="https://www.facebook.com/924510794336593/feed">BCPAX - British Columbia Production Assistant Exchange</a></blockquote></div></div> -->


<div class="fb-page" data-href="https://www.facebook.com/groups/vancouverbuysellfast/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/vancouverbuysellfast/"><a href="https://www.facebook.com/vancouverbuysellfast/">BCPAX - British Columbia Production Assistant Exchange</a></blockquote></div></div>