<div class="page-header">
  <h1>PAX Connecting Film Productions with Available Employees</h1>
</div>
 

  <p>
    <%= image_tag 'logo.jpg', class: 'logo' %>
  </p> 
  <p>
    <%= link_to 'Job Board', jobs_path, class: 'jobs btn btn-block btn-primary btn-lg' %>
  </p>
  <p>
    <%= link_to 'Crew', users_path, class: 'people btn btn-block btn-success btn-lg'%>
  </p> 