/ .page-header
/   %h1 BCPAX Connecting BC Film Productions with Available Employees

/ %p
/   = image_tag 'logo.jpg', class: 'logo'
/ %p
/   = link_to 'Jobs', jobs_path, class: 'jobs btn btn-block btn-primary btn-lg'
/ %p
/   = link_to 'People', users_path, class: 'people btn btn-block btn-success btn-lg'
