.simple-calendar {
  
  width: 320px;
    .day {
      margin: 2px;
      width: 36px;
      height: 30px;
      padding-left: 10px;
    }
    
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}

    .today {
      background-color: #ffffcc;
    }
    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {}

    .has-events {}
    .th{
      padding-left:10px;
      padding-right:10px;
    }
    
}

.available{
  height: 4px;
  margin-bottom: 5px;
  background-color: green;
  width: 50%;
}

.unavailable{
  height: 4px;
  margin-bottom: 5px;
  background-color: red;
  width: 50%;
  
}

#links_to_other_month{
  font-size: 16px;
  margin-left: 80px;
  padding-right: 10px;
}
