//======= In general

// .available{
//   border: 5px solid white;
//   background-color: #5cb85c;

// }


.today {
  border-bottom: 5px #ffff00  solid;

}


td.available .dot {
  position: absolute;
  content: '';
  background-color:#11aa11;
  border-color:#008800;
  border-radius:50%;
  opacity:0.5;
  width: 11px;
  height: 11px;
  pointer-events: none;
}


td.unavailable .dot {
  position: absolute;
  content: '';
  background-color:#aa1111;   //previous setting: #c9302c
  border-color:#880000;
  border-radius:50%;
  opacity:0.5;
  width: 11px;
  height: 11px;
  pointer-events: none;
}

td.past.available .dot {
  // border: 1px solid black;
  background-color:#91bb91
}
td.past.unavailable .dot {
  // border: 1px solid black;
  background-color:#bb9191
}

.small-calendar td .dot {
  width: 8px;
  height: 8px;
}



//========== Medium devices (desktops, 992px and up)

@media (min-width: 992px) {

  .simple-calendar {
    margin-left: 250px;
    width: 280px;
    .day {
      margin: 2px;
      width: 36px;
      height: 30px;
      padding-left: 10px;

    }

    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}


    .past {}
    .future {}

    .start-date {}

    .prev-month {}
    .next-month { }
    .current-month {}

    .has-events {}
    .th{
      padding: 6px 0 0 4px;
    }

    table{
      width: 400px;
      height: 200px;
    }

  }



  #availability_header {
    margin-left: 250px;

  }

  #links_to_other_month{
    font-size: 18px;
    margin-left: 95px;
    padding-right: 10px;
  }


  .small-calendar {
    margin-left: 48px;
    padding: 15px 0 7px 0;
    width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      // .unavailable {
      //   border: 5px solid white;
      //   background-color: #c9302c;

      // }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding-left:5px;
        padding-right:5px;
      }

      table{
        width: 200px;
        height: 100px;
      }

  }

  #links_to_other_weeks{
    font-size: 18px;
    text-align: center;
    margin-left: -22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .simple-calendar {
      width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding: 6px 0 0 6px;
      }

      table{
        width: 290px;
        height: 200px;
      }

    }

  #links_to_other_month{
    font-size: 16px;
    margin-left: 80px;

  }

  .small-calendar {
    margin-left: 24px;
    padding: 15px 0 7px 0;
    width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      // .unavailable {
      //   border: 5px solid white;
      //   background-color: #c9302c;

      // }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding-left:5px;
        padding-right:5px;
      }

      table{
        width: 200px;
        height: 100px;
      }

  }

  #links_to_other_weeks{
    font-size: 18px;
    text-align: center;
    margin-left: -22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }

}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .simple-calendar {
      width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding: 6px 0 0 6px;
      }

      table{
        width: 350px;
        height: 200px;
      }

    }

  .small-calendar {
    margin-left: 24px;
    padding: 15px 0 7px 0;
    width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;
      }

      // .unavailable {
      //   border: 5px solid white;
      //   background-color: #c9302c;

      // }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding-left:5px;
        padding-right:5px;
      }

      table{
        width: 200px;
        height: 100px;
      }

  }

  #links_to_other_weeks{
    font-size: 18px;
    text-align: center;
    margin-left: -22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }
}


/* ----------- iPhone 6 plus----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .simple-calendar {
      width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding: 6px 0 0 8px;
      }

      table{
        width: 395px;
        height: 200px;
      }

    }

    #links_to_other_month{
      font-size: 20px;
      margin-left: 110px;

  }

  .small-calendar {
    margin-left: 28px;
    padding: 15px 0 7px 0;
    width: 280px;
      .day {
        margin: 2px;
        width: 36px;
        height: 30px;
        padding-left: 10px;

      }

      // .unavailable {
      //   border: 5px solid white;
      //   background-color: #c9302c;

      // }

      .wday-0 {}
      .wday-1 {}
      .wday-2 {}
      .wday-3 {}
      .wday-4 {}
      .wday-5 {}
      .wday-6 {}


      .past {}
      .future {}

      .start-date {}

      .prev-month {}
      .next-month { }
      .current-month {}

      .has-events {}
      .th{
        padding-left:5px;
        padding-right:5px;
      }

      table{
        width: 200px;
        height: 100px;
      }

  }

  #links_to_other_weeks{
    font-size: 18px;
    text-align: center;
    margin-left: -22px;
    padding-right: 10px;
    padding-bottom: 14px;
  }
}

