//==============================Job Index Page============================================================

//--------*** Some generalizable rules ***-----------//

.disclaimer-wrap {
  margin: 6px 3px 0 1%;
}


//---------------------***** For Desktop view *****-------------------------------------------------------

@media (min-width: 992px) {
  .disclaimer {
    color: $gray-light;
  }

  #job_board{
    display:inline;
    margin-left:20px;
  }


  #post_job_button{
    margin-top: -9px;
    margin-right: 10px;
    width: 144px;
    position: relative;
    float: right;
  }

  #job_category{
    width: 300px;
    display: inline;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:10px;
  }

  #search_location_form{
    display: inline;
  }

  .job_location_search{
    width: 200px;
    display:inline-block;
    margin-bottom:-13px;
  }


  #job_posts_table_filter input {
    border: 1px solid #ccc;
    border-radius:4px;

  }

  .job_show{
    width: 50%;
    margin-left: 350px;
  }

  .job_has_filled{
    background-color: #d9534f;
    color: white;
  }

  #job_filled_indicator{
    margin-top: 0px;
    margin-right: 10px;
    width: 164px;
    position: relative;
    float: right;
  }

  #job_filled_indicator > .btn{
    margin-right: 4px;
    width: 30px;
  }

  #search_job_posts {
    margin-left: 20px;
  }

  #search-reset-and-filled {
    display: inline;
    margin-bottom: 6px;
  }


  .footer {
    // text-align: center;
    // margin-left: -5px;
    // color: gray;
    // font-size: 16px;
    margin: 10px 50px;
    color: gray;
    font-size: 16px;
    float: right;
  }


}


//------in between widths-------//

@media (min-width: 568px) and (max-width: 1054px) {
  .job_has_filled{
    background-color: #d9534f;
    color: white;
  }

  #post_job_button{
    //margin-left: 75%;
    width: 144px;
  }

  #job_filled_indicator{
    margin: 6px 0 0 255px;
    width: 364px;
    position: absolute;
    display: inline;
  }

  #job_filled_indicator > .btn{
    margin-right: 4px;
    width: 30px;
  }

  #job_reset_button{
    margin-top: 10px;
  }

  .footer {
    // text-align: center;
    // margin-left: -5px;
    // color: gray;
    // font-size: 16px;
    margin: 10px 50px;
    color: gray;
    font-size: 16px;
    float: right;
  }
}

//-------***** iphone 5 & 5s *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------

  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {

    #post_job_button{
      margin-left: 55%;
      margin-top: -45px;
      width: 144px;
      position: relative;
      float: right;
    }

    #job_category{
      width: 300px;
      display: inline;
      margin-right:10px;
      margin-bottom:10px;
    }

    #job_posts_table > tbody > tr > td > a {
      word-break: break-all;
    }

    #job_management > tbody > tr > td > a {
      word-break: break-all;
    }

    #job_posts_table_info{
      margin-left: 55px;
      text-align:left;
    }

    #job_posts_table_length label{
      margin-left: 60px;
    }

    #job_posts_table_length {
      text-align:left;
    }

    #job_posts_table_paginate {
      text-align:left;
      margin-left: 40px;
    }

    select[name= job_posts_table_length]{
      border-color:gray;
    }

    #job_posts_table_filter{
      text-align:left;
    }


    #job_posts_table_filter input {
      width: 290px;
      height: 34px;
      padding: 6px 12px;
      line-height: 1.428571429;
      color: #555;
      vertical-align: middle;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: block;
      margin-left: -2px;
    }

    .job_location_search {
      margin-bottom: 10px;
    }

    #job_filled_indicator{
      margin-left: 20px;
    }

    #job_filled_indicator > .btn{
      margin-right: 4px;
      width: 30px;
    }

    #job_category {
      wodth: 320px;
    }

  }

//-------***** iPhone 6 *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #post_job_button {
    margin-left: 60%;
    margin-top: -45px;
    width: 144px;
    position: relative;
    float: right;
  }

    #job_posts_table > tbody > tr > td > a {
      word-break: break-all;
    }


    #job_posts_table_info{
      margin-left: 90px;
      text-align:left;
    }

    #job_posts_table_paginate {
      text-align:left;
      margin-left: 75px;
    }

    #job_posts_table_length {
      text-align:left;
      margin-left: 35px;
    }

    #job_posts_table_filter input {
      width: 300px;
    }

    .job_location_search{
      width: 300px;
    }

    #job_filled_indicator{
      margin-left: 70px;
    }

  }
//-------***** iPhone 6 plus *****----------------------------------------------------------------
  @media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {

    #post_job_button {
      margin-left: 60%;
      margin-top: -45px;
      width: 144px;
      position: relative;
      float: right;
    }

    #job_posts_table > tbody > tr > td > a {
      word-break: break-all;
    }

    #job_category {
      width: 320px;
      display: block;
    }

    .job_location_search{
      width: 320px;
    }

    #job_posts_table_filter input {
      width: 320px;
    }

    #job_filled_indicator{
      margin-left: 110px;
    }

  }


//==============================Job New Page============================================================
//---------------------***** For Desktop view *****-------------------------------------------------------
@media (min-width: 992px) {


  #cancel_job_post{
    color:white;
  }


  .job_form{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

  }

  .job_form:hover,
  .job_form:active,
  .job_form:focus{
    color: black;
  }

  #job_post_form{
    margin: auto;
    width: 600px;
  }

  #post_job_title {
    text-align: center;
  }

  // #post_submit{
  //   margin-left:200px;
  // }



}

//-------***** iphone 5 & 5s *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {

  .job_form{
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;

  }


  #new_job{
    margin-left: 15px;
  }

  .form-control{
    width:90%;
  }

  #post_submit{
    margin-top: 10px;
  }
  #cancel_job_post{
    margin-top: 10px;
  }

  #job_filled_indicator > .btn{
    margin-right: 4px;
    width: 30px;
  }


  // //=====manage user's job postings=======//    <<---- hard-coded in html.erb file for now
  // #job_management > tbody > tr > td > a {
  //   word-break: break-all;
  // }


}

//-------***** iPhone 6 *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------
 @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #post_submit{
    margin-top: 10px;
  }
  #cancel_job_post{
    margin-top: 10px;
  }
}







//-------***** iPhone 6 plus *****----------------------------------------------------------------
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {

  #post_submit{
    margin-top: 10px;
  }
  #cancel_job_post{
    margin-top: 10px;
  }
}





//==============================Job Edit Page============================================================
//---------------------***** For Desktop view *****-------------------------------------------------------
@media (min-width: 992px) {
  #edit_post_submit{
    margin-left:150px;
  }

  #job_edit_form{
    margin: auto;
    width: 600px;
    }

  #edit_job_title{
    margin-left: 600px;
  }


}

//-------***** iphone 5 & 5s *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {

    #job_edit_form{
      margin-left: 10px;
      width: 280px;
    }


    #edit_post_submit{
      margin-left: -20px;
    }

    #delete_job_post{
      display: inline-block;
      width: 100px;
    }

    .btn-lg {
      width: 80%;
      margin: 0px 0 0 30px;
    }


}

//-------***** iPhone 6 *****----------------------------------------------------------------
//-****Portrait and Landscape *****----------------------------------------------------------------------
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #job_edit_form{
      margin-left: 10px;
      width: 340px;
    }

    #edit_post_submit{
      margin-left: 0px;
    }

    .btn-lg {
      width: 82%;
      margin: 0px 0 0 33px;
    }


}

//-------***** iPhone 6 plus *****----------------------------------------------------------------
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {

  #job_edit_form{
    margin-left: 10px;
    width: 380px;
  }

  .btn-lg {
    width: 82%;
    margin: 0px 0 0 34px;
  }




}

//------------Jobs Show page----------//
dl {
  margin-top: 5px;
  margin-bottom: 8px;
}
