//=========== Desktop and Mobile ===================
  .navbar-brand {
    text-transform: uppercase;
    color: #f0ad4e !important;

    span {
      color: #5bc0de;
    }
  }

  .logo {
    width: 450px;
    margin: 0px 0px 0px -20px;
  }

  .sponsor-image {
    width: 300px;
  }

  .footer {
    margin-top: 5px;
    margin-left: 45px;
    color: gray;
    font-size: 14px;
  }



//========== Medium devices (desktops, 992px and up)==========================================

@media (min-width: 992px) {

  .footer {
    // text-align: center;
    // margin-left: -5px;
    // color: gray;
    // font-size: 16px;
    margin: 10px 50px;
    color: gray;
    font-size: 14px;
    float: right;
  }


}


/* ----------- iPhone 5 and 5S ----------------------------------------------------------*/

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      font-size: 9px;
      margin-left: 15px;
      margin-top: 5px;
      color: gray;
    }
}

// iphone 5 landscape user crewpage footer won't work in layout.css.scss for some reason.
// hack written up in user.css.scss.


/* ----------- iPhone 6 ---------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    .footer {
      margin-top: 5px;
      margin-left: 28px;
      color: gray;
      font-size: 10px;
    }
}

/* ----------- iPhone 6 plus --------------------------------------------------------------------*/

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {
    .footer {
      margin-top: 5px;
      margin-left: 45px;
      color: gray;
      font-size: 14px;
    }
}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .footer {
      margin-top: 5px;
      margin-left: 25px;
      color: gray;
    }
}



/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


// /* ----------- HTC One ----------- */

// /* Portrait and Landscape */
// @media screen
//   and (device-width: 360px)
//   and (device-height: 640px)
//   and (-webkit-device-pixel-ratio: 3) {
//     .footer {
//       margin-left: 25px;
//       color: gray;
//     }
// }


