//=========== Desktop and Mobile ===================
  .navbar-brand {
    text-transform: uppercase;
    color: $brand-warning !important;

    span {
      color: $brand-info;
    }
  }

  .logo {
    width: 450px;
  }

  .sponsor-image {
    width: 300px;
  }



//========== Medium devices (desktops, 992px and up)==========================================

@media (min-width: 992px) {

  .footer {
    margin-left: 500px;
    color: gray;
    font-size: 14px;
  }


}


/* ----------- iPhone 5 and 5S ----------------------------------------------------------*/

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      font-size: 12px;
      margin-left: 15px;
      margin-top: 5px;
      color: gray;
    }
}


/* ----------- iPhone 6 ---------------------------------------------------------------------------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    .footer {
      margin-left: 25px;
      color: gray;
    }
}

/* ----------- iPhone 6 plus --------------------------------------------------------------------*/

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}



/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .footer {
      margin-left: 25px;
      color: gray;
    }
}


