
.navbar-nav #navbar-upper-right {
  display: inline;
}


// .navbar-right {
//   margin-bottom: -17px;
// }
.container-fluid {
  margin-bottom: -1em;
}

.upper-right {
  display: block;
  float: right;
}

.lower-right {
  display: block;
  text-align: right;
  margin: 0 -16em 5px 0;
}

.deliveries-mobile {
  // float: right;
  color: #d5d5d5;
  margin: 8px 0px 0px 14px;
}

.deliveries {
  // display: block;
  float: right;
  color: #d5d5d5;
  margin: 2px 12px -15px 15px;
}



.ad-container-fluid {
  background-color: white;
  margin: 0 0 -1px -1px;
  padding: 0 0 0 0;
}

.banner-ad {
  display: block;
  margin: 30px 0 0 0;
}

