
.navbar-nav #navbar-upper-right {
  display: inline;
}

.container-fluid {
  margin-bottom: -1em;
}

.upper-right {
  display: block;
  float: right;
}

.lower-right {
  display: block;
  text-align: right;
  margin: 0 -16em 5px 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #b4b4b4;
}

.chat-room {
  color: #757575;
  margin: 16px 0px 0px 16px;
}

.deliveries-mobile {
  // float: right;
  color: #959595;
  margin: 8px 0px 0px 14px;
}





.ad-container-fluid {
  background-color: white;
  margin: 0 -1px -1px -1px;
  padding: 0 0 0 0;
}

.banner-ad {
  display: block;
  margin: 30px 0 0 0;
}

