.navbar-nav #navbar-upper-right {
  display: inline;
}

// .navbar-nav #navbar-lower-right {
//   display: block;
//   float: right;
// }

#deliveries {
  display: block;
  float: right;
  color: #d5d5d5;
  margin-right: 12px;
}

.banner-ad {
  display: block;
  margin: 30px 0 0 0;
}