.image {
  width: 100%;
}

.profile_input {
  background-color: white;

}

.profile_input.invalid {
  border-color:red;
  border-style:solid;
  border-width: 2px;
}

.profile_input.valid {
  border-color:green;
  border-style:solid;
  border-width:2px;
}

.error{
  color:red;
}