.image {
  width: 100%;
}

//=================These are for registration information form validation========================

.profile_input {
  background-color: white;

}

.profile_input.invalid {
  border-color:red;
  border-style:solid;
  border-width: 2px;
}

.profile_input.valid {
  border-color:green;
  border-style:solid;
  border-width:2px;
}

.error{
  color:red;
}

//================These are for password bullets styles in div. ==================================

#password {
  -webkit-text-security: disc;
}

#pw_confirmation {
  -webkit-text-security: disc;
}


//=======For deparments title ===============================================================

.panel-title {
  font-size: 24px;
}


//=== They are for departments roles checkboxes/radio buttons===============================

label{
  cursor:pointer;
  font-size:14px;
}

input[type="checkbox"] {    
  
  margin-left: 5px;
  cursor:pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #e9ecee;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 25px;
  height: 25px;
  border-width: 0;
  transition: all .1s linear;
  
} 




input[type="checkbox"]:checked{
  background-color: #2ECC71;
}


 

input[type="checkbox"]:focus{
  outline: 0 none;
  box-shadow: none;
}



#iatse_permit_days, #permit_days{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 150px;
  display: inline-block;
}

//=======For Calender ===============================================================
#available{
 font-size: 14px;
 margin-left: 5px;
}

#unavailable{
 font-size: 14px;
}


#sunday {
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}

#monday {
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}


#tuesday {
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}

#wednesday {
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}

#thursday {
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}

#friday{
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
}

#saturday{
  line-height: 38px;
  height: 38px;
  font-size: 16px;
  padding: 0px 26px;
  margin-left: 5px;
  
}

.panel-body{
  padding: 10px;
}

#available_days{
  margin-left: 5px;
}

//=======For Email Documents ===============================================================

#upload_new_documents_button {
  margin: 5px 15px;
  font-size:medium;
  
}

#submit_button{
  margin-bottom: 5px;
  font-size:medium;
}

#file_upload_form{
  margin-left:15px;
}


.document_email{
  font-weight: normal;
  max-width:35%;
}

.file_upload{
  margin-right: -50px;
}

#upload_file{
  max-width: 220px;
}

#client_email{
  border:1px solid lightgray;
  background: transparent;
  width: 150px;
  margin-bottom: 10px;
}

#selected_file{
  border: 1px solid lightgray;
  background: transparent;
}

icon .fa fa-file-pdf-o{
  font-size: 50px;
}

.existing_file{
  max-width:200px;
  margin-top:10px;
  margin-left:15px;
  display: inline-block;

}