//=================These are for User show view page========================

.info_font{
  font-size: 16px;
  margin-top: 10px;
  margin-left: 15px;

}

#user_info{
  margin-top: 20px;
}

.role_font{
  font-size: 16px;
  margin-left: 35px;
}