.page-header
  %h1 People

= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:id]), prompt: 'All', class: 'form-control', id: 'select_user_category'


%table.table
  %tr
    %th Photo
    %th Name
    - for user in @users
      %tr
        %td= link_to image_tag(user.image.url(:thumb)), user_path(user)
        %td= link_to user.name, user_path(user)
       
  