<div class="page-header">
  <h1>Edit User profile</h1>
</div>
  <div class = "row">
    <div class="col-md-4">
       <div class="field" id ="info" data-user-id="<%=@user.id %>">
          <h5> Name:</h5>
          <div class="profile_input" data-profile-entry="name" id="name" conten><%=@user.name %></div>
        </div>
        
        <div class="field">
          <h5> Email: </h5>
          <div class="profile_input" data-profile-entry="email" id="email"><%=@user.email %></div>
        </div>
        <div class="field">
          <h5> Phone:</h5>
          <div class="profile_input" data-profile-entry="phone" id="phone"><%=@user.phone %></div>
        </div>

    </div>
    <div class= "col-md-8">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <%#= render "adminEditUnion" %>
        <%#= render "adminEditCertificates" %>
      </div>
    </div>
  </div>
